.Cards {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 50px;
}

.Title {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .Cards {
    flex-direction: column;
  }
}
